/*清除浮动*/
.cf:after{display:block;visibility:hidden;clear:both;height:0;content:".";}
.cf{*+height:1%;}

/***** GLOBAL *****/
body {
    position: relative;
    font-family: "Microsoft YaHei","ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3";
}
.a-w {
    color: #fff;  /*白色链接*/
}
.a-b {
    color: #34495e;  /*原色链接*/
}
.title-back {
    display: inline-block;
    margin-left: 15px;
    color: #BDC3C7;  /*标题返回链接*/
    font-size: 16px;
}
.blockWrap { /*块级大容器*/
    padding: 30px;
    padding-bottom: 80px;  /* 为footer预留位置 */
}
.blockWrap .title {
    margin:0 auto 30px;
}
.hr {  /* 红色 */
    color: #e74c3c;
}
.clip { /* 截断文字 */
    overflow:hidden; /*不显示超过对象宽度的内容*/  
    text-overflow:ellipsis; /*当对象内文本溢出时显示省略标记（...）*/  
    white-space:nowrap; /*限制在一行内显示所有文本*/  
}
.mb30 {
    margin-bottom: 30px;
}
.b {
    font-weight: bold;
}
.dpn {  /* 隐藏 */
    display: none;
}

/*垂直居中 和 水平居中*/
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.form-group {
    position: relative;
}

.form-error {
    margin-bottom: 20px;
    text-align: center;
}
.form-error .alert-ico {
    display: inline-block;
    margin-right: 10px;
    width:20px;
    height: 20px;
    background: url("/images/alert.png") no-repeat;
}
.form-error .alert-text {
    display: inline-block;
    height: 20px;
    vertical-align: top;
    line-height: 20px;
}

.btnWrap .alert{
    margin:0;
}

.btnWrap .alert .alert-link{
    display: inline-block;
    margin-left: 15px;
}


table {
    width: 100%;
    font-size: 20px;
}
table thead {
    border-radius: 5px;
    background: #7F8C8D;
    color: #fff;
    font-weight: bold;
}
table tbody {
    font-weight: normal;
}
table tr {
    height: 40px;
    line-height: 40px;
}

/***** 顶部栏 *****/
.topbar {
    height: 50px;
    background: #34495e;
    line-height: 50px;
}
.topbar .logo {
    float: left;
    margin-left: 30px;
    width:30px;
}
.topbar .logo img {
    width: 100%;
}
.topbar .user {
    float: right;
    margin-right: 15px;
}
.topbar .user a {
    display: inline-block;
    margin-right: 15px;
}
.topbar .userNo {
    color: #fff;
}
.topbar .userNo:hover {
    text-decoration: underline;
}
.topbar .returnBtn {
    display: inline-block;
    padding: 0;
    width:95px;
    height:30px;
    text-align: center;
    line-height: 30px;
}
.bookMenu {
    position: relative;
    float: left;
    margin-left: 15px;
    width: 160px;
}
.bookMenu .dropdown-toggle {
    background: none !important;
    font-size: 20px;
}
.bookMenu .fui-list {
    margin-right: 5px;
}
.bookMenu li {
    position: relative;
}
.bookMenu .dropdown-arrow{
    left: 18px;
}
.bookSubMenuWrap {
    position: absolute;
    top: -5px;
    left:150px;
    width:760px;
}
.bookSubMenu {
    margin-left: 10px;
    padding-left: 10px;
    width: 100%;
    border-radius: 5px;
    background: #4b6886;
}
.bookSubMenu li {
    float: left;
    margin: 2.5px 0;
    width:150px;
}
.bookSubMenu a {
    display: block;
    clear: both;
    padding: 5px !important;
    white-space: nowrap;
    line-height: 1.4;
}
.topbar .menu{
    float: left;
    margin-bottom: 0; 
    margin-left: 50px;
}
.topbar .menu li{
    display: inline-block;
    margin-right: 30px;
}
.topbar .menu a{
    color: #fff;
}
.topbar .menu .cur a{
    color: #1abc9c;
}

/***** FOOTER *****/
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #34495e;
    line-height: 50px;
}
.footer .copyright {
    float: right;
    margin-top: 15px;
    margin-right: 30px;
    color: #95A5A6;
    font-size: 12px;
}
.footer .easterEggs {
    display: inline-block;
    margin-left:10px;
}
.login-footer {
    background: none;
    color:black;
}
.login-footer .copyright {
    color:#16a085;
}
.login-footer .copyright a {
    color:#117561;  
}

/***** 首页样式 *****/
.indexWrap {
    margin: 0 auto;
    width: 600px;
}
.qrcodeTitle {
    margin-top: 30px;
}
.qrcodeWrap {
    text-align: center;
}
.qrcodeWrap img {
    margin:0;
}

/***** 图书列表样式 *****/
.filter {
    margin-bottom: 15px;
}
.sortWrap span {
    display: inline-block;
    margin-right: 15px;
    padding:0 10px;
}
.sortWrap .checkbox {
    display: inline-block;
}
.sortWrap a {
    color : #34495e;
}
.sortWrap .title {
    font-weight: bold;
}
.sortWrap .active{
    border-radius: 5px;
    background: #1abc9c;
}
.sortWrap .active a{
    color: #fff;
}
.bookItem {
    margin-bottom: 15px;
    padding:30px;
}
.bookItem.disabled {
    position: relative;
}
.bookItem.disabled .infoWrap {
    position: relative;
    z-index: 1;
}
.bookItem.disabled::before {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:0;
    background-color: rgba(0,0,0,0.1);
    content: '';
}
.coverWrap {
    float: left;
    width: 25%;
}
.coverWrap img {
    width: 100%;
}
.infoWrap {
    float: left;
    padding-left: 30px;
    width: 75%;
}
.infoWrap .name a {
    color : #34495e;
}
.infoWrap p {
    margin: 0 0 5px;
    font-size: 16px;
}
.infoWrap .btn {
    display: inline-block;
    margin-top: 10px;
    margin-right: 15px;
}
.infoWrap .lendBtn{
    width: 150px;
}
.infoWrap .favoBtn {
    width: 50px;
}
.favoBtn .fui-heart {
    color: white;
}
.favoBtn .favoed {
    color: #E74C3C;
}
.infoWrap .editBtn, .infoWrap .deleBtn {
    width: 100px;
}

/***** 图书详细页 *****/
.toggleTitle {
    margin-bottom: 30px;
    width:100%;
    height: 50px;
    background: #ecf0f1;
    text-align: center;
    line-height: 50px;
}
.toggleTitle .title {
    float: left;
    width: 50%;
    cursor: pointer;
}
.toggleTitle .active {
    background: #bdc3c7;
}
.info-p {
    border: none;
    font-size: 16px;
}
.commentItem {
    margin-bottom: 15px;
}
.avatarWrap {
    float: left;
    width:150px;
    text-align: center;
}
.contentWrap {
    position: relative;
    float: left;
    margin-left: 30px;
    padding:15px;
    width:800px;
    border-radius: 5px;
    background: #ECF0F1;
}
.contentWrap::after{
    position: absolute;
    top:10px;
    left:-10px;
    display: block;
    width:0;
    width:0;
    height:0;
    height:0;
    border-width:5px;
    border-style:solid;
    border-color:#fff #ECF0F1 #FFF #fff;
    content: '';    
}
/***** 搜索结果页 *****/
.searchWrap .searchForm {
    width: 500px;
}
.searchWrap .select .btn {
    padding: 0;
    width:100px;
    height: 35px;
    font-size: 16px;
}
.searchWrap .select .btn.btn-hg .filter-option {
    top: 9px !important;
}
.searchWrap .dropdown-menu {
    min-height: 0 !important;
}

/***** 添加图书表单 *****/
.addBookWrap, .addBookWrap .title {
    margin: 0 auto;
    width: 500px;
}
.addBook {
    margin-top: 15px;
}
.addBook label{
    display: inline-block;
    width: 80px;
}

.addBook input[type="text"]{
    width:300px;
}

.addBook textarea{
    width: 400px;
    height: 200px;
    vertical-align: top;
    resize:none;
}

.addBook .submitBtn, .addBook .cancelBtn, .addBook .removeBookBtn {
    display: inline-block;
    margin: 0;
    margin-right: 20px;
    width: 100px !important;
}

.addBook .alert{
    margin:0;
    margin-bottom:15px;
    width:80%;
}
.addBook .alert .alert-link{
    margin-left:15px;
}

/***** 图书表格页 *****/
.viewBook-title {
    margin-top: 0;
}
.bookNum {
    float: right;
    font-size: 16px;
}

/***** 还书页 *****/
.returnDate span {
    padding-left: 20px;
}
.meWrap .select .btn {
    padding: 0;
    width:150px;
    height: 35px;
    font-size: 16px;
}
.meWrap .select .btn.btn-hg .filter-option {
    top: 9px !important;
}
.meWrap .dropdown-menu {
    min-height: 0 !important;
}

/***** 收藏页 *****/
.favoList .btnWrap {
    position: relative;
}
.favoList .tooltip {
    position: absolute;
    top: -75px;
    left: -45px;
}
.favoSelectWrap {
    margin-bottom: 20px;
}
/***** 编辑个人资料页 *****/
#myInfoForm {
    margin:0 auto;
    width: 350px;
}
#myInfoForm .btn{
    display: inline-block;
    margin:0;
    margin-right: 15px;
    width: 150px;
}
#myInfoForm .tooltip {
    position: absolute;
    top:-35px;
    right:10px;
}
#myInfoForm .changePwd, #myInfoForm .cancelPwd {
    display: inline-block;
    margin-left: 255px;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

/***** 评价页 *****/
#commentForm .scoreInput{
    width:80px;
}
#commentForm textarea{
    width:400px;
    height:150px;
}
#commentForm .submitBtn, #commentForm .cancelBtn {
    display: inline-block;
    margin: 0;
    margin-right: 20px;
    width: 100px !important;
}

/***** 人员管理 *****/
.user-table {
    margin-top:30px;
}

/***** 彩蛋 *****/
.egg {
    padding:30px;
    padding-left: 50px;
    background:#ffb7c6;
    color:black;
    font-weight:bold;
}
.egg .ta {
    display: inline-block;
    margin-left: 15px;
    color: #ffb7c6;
    font-size: 20px;
}
.egg .title {
    display: inline-block;
    color: white;
}
.egg p {
    margin-bottom: 10px;
}