/*清除浮动*/
.cf:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.cf{*+height:1%;}

/***** GLOBAL *****/
body {
    position: relative;
}
.a-w {
    color: #fff;  /*白色链接*/
}
.a-b {
    color: #34495e;  /*原色链接*/
}
.title-back {  /*标题返回链接*/
    font-size: 16px;
    display: inline-block;
    margin-left: 15px;
    color: #BDC3C7;
}
.blockWrap { /*块级大容器*/
    padding: 30px;
    padding-bottom: 80px;  /* 为footer预留位置 */
}
.blockWrap .title {
    margin:0 auto 30px;
}
.hr {  /* 红色 */
    color: #e74c3c;
}
.clip { /* 截断文字 */
    overflow:hidden; /*不显示超过对象宽度的内容*/  
    text-overflow:ellipsis; /*当对象内文本溢出时显示省略标记（...）*/  
    white-space:nowrap; /*限制在一行内显示所有文本*/  
}
.mb30 {
    margin-bottom: 30px;
}
.b {
    font-weight: bold;
}
.dpn {  /* 隐藏 */
    display: none;
}

/*垂直居中 和 水平居中*/
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.form-group {
    position: relative;
}

.form-error {
    margin-bottom: 20px;
    text-align: center;
}
.form-error .alert-ico {
    display: inline-block;
    width:20px;
    height: 20px;
    background: url("/images/alert.png") no-repeat;
    margin-right: 10px;
}
.form-error .alert-text {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    vertical-align: top;
}

.btnWrap .alert{
    margin:0;
}

.btnWrap .alert .alert-link{
    display: inline-block;
    margin-left: 15px;
}


/***** 顶部栏 *****/
.topbar {
    height: 50px;
    background: #34495e;
    line-height: 50px;
}
.topbar .logo {
    float: left;
    width:30px;
    margin-left: 30px;
}
.topbar .logo img {
    width: 100%;
}
.topbar .user {
    float: right;
    margin-right: 15px;
}
.topbar .user a {
    display: inline-block;
    margin-right: 15px;
}
.topbar .userNo {
    color: #fff;
}
.topbar .userNo:hover {
    text-decoration: underline;
}
.topbar .returnBtn {
    width:95px;
    height:30px;
    line-height: 30px;
    padding: 0;
    display: inline-block;
    text-align: center;
}
.bookMenu {
    float: left;
    position: relative;
    width: 160px;
    margin-left: 15px;
}
.bookMenu .dropdown-toggle {
    background: none !important;
    font-size: 20px;
}
.bookMenu .fui-list {
    margin-right: 5px;
}
.bookMenu li {
    position: relative;
}
.bookMenu .dropdown-arrow{
    left: 18px;
}
.bookSubMenuWrap {
    position: absolute;
    top: -5px;
    width:760px;
    left:150px;
}
.bookSubMenu {
    width: 100%;
    background: #4b6886;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 10px;
}
.bookSubMenu li {
    width:150px;
    float: left;
    margin: 2.5px 0;
}
.bookSubMenu a {
    display: block;
    clear: both;
    line-height: 1.4;
    white-space: nowrap;
    padding: 5px !important;
}
.topbar .menu{
    float: left; 
    margin-left: 50px;
    margin-bottom: 0;
}
.topbar .menu li{
    display: inline-block;
    margin-right: 30px;
}
.topbar .menu a{
    color: #fff;
}
.topbar .menu .cur a{
    color: #1abc9c;
}

/***** FOOTER *****/
.footer {
    height: 50px;
    background: #34495e;
    line-height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer .copyright {
    font-size: 12px;
    float: right;
    color: #95A5A6;
    margin-top: 15px;
    margin-right: 30px;
}

/***** 首页样式 *****/
.indexWrap {
    width: 600px;
    margin: 0 auto;
}

/***** 图书列表样式 *****/
.filter {
    margin-bottom: 15px;
}
.sortWrap span {
    display: inline-block;
    margin-right: 15px;
    padding:0 10px;
}
.sortWrap .checkbox {
    display: inline-block;
}
.sortWrap a {
    color : #34495e;
}
.sortWrap .title {
    font-weight: bold;
}
.sortWrap .active{
    background: #1abc9c;
    border-radius: 5px;
}
.sortWrap .active a{
    color: #fff;
}
.bookItem {
    padding:30px;
}
.bookItem.disabled {
    position: relative;
}
.bookItem.disabled .infoWrap {
    z-index: 1;
    position: relative;
}
.bookItem.disabled::before {
    content: '';
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color: rgba(0,0,0,0.1);
    z-index:0;
}
.coverWrap {
    float: left;
    width: 25%;
}
.coverWrap img {
    width: 100%;
}
.infoWrap {
    float: left;
    width: 75%;
    padding-left: 30px;
}
.infoWrap .name a {
    color : #34495e;
}
.infoWrap p {
    font-size: 16px;
    margin: 0 0 5px;
}
.infoWrap .btn {
    display: inline-block;
    margin-right: 15px;
    margin-top: 10px;
}
.infoWrap .lendBtn{
    width: 150px;
}
.infoWrap .favoBtn {
    width: 50px;
}
.favoBtn .fui-heart {
    color: white;
}
.favoBtn .favoed {
    color: #E74C3C;
}
.infoWrap .editBtn, .infoWrap .deleBtn {
    width: 100px;
}

/***** 图书详细页 *****/
.toggleTitle {
    width:100%;
    background: #ecf0f1;
    margin-bottom: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.toggleTitle .title {
    width: 50%;
    float: left;
}
.toggleTitle .active {
    background: #bdc3c7;
}
.info-p {
    text-indent: 2em;
}

/***** 搜索结果页 *****/
.searchWrap .searchForm {
    width: 500px;
}
.searchWrap .select .btn {
    width:100px;
    font-size: 16px;
    height: 35px;
    padding: 0;
}
.searchWrap .select .btn.btn-hg .filter-option {
    top: 9px !important;
}
.searchWrap .dropdown-menu {
    min-height: 0 !important;
}

/***** 添加图书表单 *****/
.addBookWrap, .addBookWrap .title {
    width: 500px;
    margin: 0 auto;
}
.addBook {
    margin-top: 15px;
}
.addBook label{
    width: 80px;
    display: inline-block;
}

.addBook input[type="text"]{
    width:300px;
}

.addBook textarea{
    width: 400px;
    height: 200px;
    resize:none;
    vertical-align: top;
}

.addBook .submitBtn, .addBook .cancelBtn, .addBook .removeBookBtn {
    width: 100px !important;
    margin: 0;
    margin-right: 20px;
    display: inline-block;
}

.addBook .alert{
    margin:0;
    width:80%;
    margin-bottom:15px;
}
.addBook .alert .alert-link{
    margin-left:15px;
}

/***** 图书表格页 *****/
.viewBook-title {
    margin-top: 0;
}
.bookNum {
    font-size: 16px;
    float: right;
}
.book-table {
    width: 100%;
}
.book-table thead {
    font-weight: bold;
    color: #fff;
    background: #7F8C8D;
    border-radius: 5px;
}
.book-table tr {
    height: 40px;
    line-height: 40px;
}

/***** 还书页 *****/
.returnDate span {
    padding-left: 20px;
}
.meWrap .select .btn {
    width:150px;
    font-size: 16px;
    height: 35px;
    padding: 0;
}
.meWrap .select .btn.btn-hg .filter-option {
    top: 9px !important;
}
.meWrap .dropdown-menu {
    min-height: 0 !important;
}

/***** 收藏页 *****/
.favoList .btnWrap {
    position: relative;
}
.favoList .tooltip {
    position: absolute;
    top: -75px;
    left: -45px;
}
.favoSelectWrap {
    margin-bottom: 20px;
}
/***** 编辑个人资料页 *****/
#myInfoForm {
    width: 350px;
}
#myInfoForm .btn{
    width: 150px;
    display: inline-block;
    margin:0;
    margin-right: 15px;
}
#myInfoForm .tooltip {
    position: absolute;
    top:0;
    right:0;
}
#myInfoForm .changePwd, #myInfoForm .cancelPwd {
    font-weight: bold;
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 255px;
}

/***** 评价页 *****/
#commentForm .scoreInput{
    width:80px;
}
#commentForm textarea{
    width:400px;
    height:150px;
}
#commentForm .submitBtn, #commentForm .cancelBtn {
    width: 100px !important;
    margin: 0;
    margin-right: 20px;
    display: inline-block;
}