<div class="bookMenu">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="fui-list"></span>全部图书</button>
        <span class="dropdown-arrow dropdown-arrow-inverse"></span>
        <ul class="dropdown-menu dropdown-inverse" id="bookMenu">
            
        </ul>
    </div>
</div>