<div class="form-group searchForm">
    <form action="/search" method="GET">
        <div class="input-group">                               
            <input type="text" class="form-control" placeholder="请输入书名或作者" id="search-book" name="keyword">
            <span class="input-group-btn">
                <button type="submit" class="btn"><span class="fui-search"></span></button>
            </span>
        </div>
    </form>
</div>