<header class="topbar cf" data-identity="<%= user.identity %>">
    <div class="logo">
        <a href="/"><img src="/images/Book.png" alt=""></a>
    </div>
    <%- include bookMenu %>
    <ul class="menu" id="menu-a">
        <li class="cur"><a href="/">图书管理</a></li>
        <li data-value="stats"><a href="/stats">统计信息</a></li>
        <li data-value="people"><a href="/people">人员管理</a></li>
    </ul>
    <div class="user">
        <a class="a-w userNo"><%= user.no %></a>
        <a href="/logout" class="a-w">登出</a>
    </div>
</header>