<% include head %>
    <% include partials/topbar-student %>
    <div class="bookListWrap blockWrap meWrap">
        <h6 class="mb30 b">收藏夹</h6>
        <div class="selectWrap favoSelectWrap">
            <select id="favo-select">
                <option value="all">全部</option>
                <option value="true">可借</option>
                <option value="false">不可借</option>
            </select>
        </div>
        <% if (books.length ===0) { %>
            <div class="notFound">
                收藏夹暂时木有书哦~ 去收藏几本吧!
            </div>
        <% } else { %>
            <div class="bookList favoList">
                <%- include partials/bookItem-favo %>
            </div>
        <% } %>
    </div>
    <% include partials/footer %>

<% include foot %>