
    <script type="text/javascript" src="/dist/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/dist/js/flatui-radio.js"></script>
    <script type="text/javascript" src="/dist/js/flatui-checkbox.js"></script>
    <script type="text/javascript" src="/dist/js/app.js"></script>
    <script>
    
        seajs.use('app', function(app) {
            app.init();
        });
        
    </script>
</body>
</html>