
    <script type="text/javascript" src="/dist/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/dist/js/flatui-radio.js"></script>
    <script type="text/javascript" src="/dist/js/app.js"></script>
    <script>

        // Set configuration
        // seajs.config({
        //     base: "../sea-modules/"
        // });
    
        seajs.use('app', function(app) {
            app.init();
        });
        
    </script>
</body>
</html>