<% include head %>
    <% if(user.identity === 'student') { %>
        <% include partials/topbar-student %>
        
        <% if(error) { %>
            <div class="alert alert-danger"><%= error %></div>
        <% } %>

        <div class="indexWrap blockWrap">
            <h4>想借什么书吗?</h4>
            <% include partials/searchForm %>
            
            <p class="qrcodeTitle">扫一扫加我们的微信公众平台吧:</p>
            <div class="qrcodeWrap">
                <img src="/images/qrcode.jpg" alt="微信二维码">
            </div>
        </div>

    <% } else if(user.identity === 'admin') { %>
        
        <% include partials/topbar-admin %>

        <% if(error) { %>
            <div class="alert alert-danger"><%= error %></div>
        <% } %>
        
        <div class="indexWrap blockWrap">
            <h4><a href="/table">查看图书</a></h4>
            <p>还是</p>
            <h4><a href="/add">添加图书</a></h4>
            <p>还是想找书?</p>
            <% include partials/searchForm %>
        </div>
        
    <% } %>
    
    <% include partials/footer %>

<% include foot %>