<div class="indexSwrap">
    <h4>想借什么书吗?</h4>
    <div class="form-group">
        <form action="">
            <div class="input-group">                               
                <input type="text" class="form-control" placeholder="Search" id="search-book">
                <span class="input-group-btn">
                    <button type="submit" class="btn"><span class="fui-search"></span></button>
                </span>
            </div>
        </form>
    </div>
</div>