<%- include head %> 
<body>
    <% if(user.identity === 'student') { %>
        <%- include index-student %>
    <% } else if(user.identity === 'admin') { %>
        <%- include index-admin %>
    <% } %>
</body>
</html>