<% include head %>
    <% if(user.identity === 'student') { %>
        <% include partials/topbar-student %>
    <% } else if(user.identity === 'admin') { %>
        <% include partials/topbar-admin %>
     <% } %>
     <% if(error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <div class="blockWrap searchWrap">
        <% include partials/searchForm %>
        <p class="searchResNum">关于 "<span id="skw"></span>" 的搜索结果共有 <%= books.length %> 个</p>
        <div class="selectWrap">
            <select id="bOrA">
                <option value="book">书名</option>
                <option value="author">作者</option>
            </select>
        </div>
        <!-- <div class="filter">
            <div class="sortWrap">
                <span class="title">排序:</span>
                <span id="sort-default" class="sort"><a href="/search">默认</a></span>
                <span id="sort-time" class="sort"><a href="/search?sort=time">出版时间</a></span>
                <span id="sort-recommand" class="sort"><a href="/search?sort=recommand">评分</a></span>
                
                <label class="checkbox" for="lendable">
                    <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="" id="lendable" data-toggle="checkbox">仅显示可借图书
                </label>
            </div>
        </div> -->
        <% if (books.length ===0) { %>
            <div class="notFound">
                没有搜索到相关图书,或者换个关键字试试吧~
            </div>
        <% } else { %>
            <div class="bookList">
                <%- include partials/bookItem %>
            </div>
        <% } %>
    </div>
    <% include partials/footer %>
<% include foot %>