<%- include head %>
    <div class="login-screen">
        <div class="login cf center">
            <div class="login-icon">
                <img src="/images/Book.png" alt="Welcome to 图书借阅管理系统" />
                <h4>Welcome to <span class="b">图书借阅管理系统</span></h4>
            </div>

            <form class="login-form" action="/signup" method="POST" id="signUpForm">
                <div class="form-group">
                    <label class="radio">
                        <input type="radio" name="identity" id="optionsRadios1" value="student" data-toggle="radio" checked="checked">
                        学生
                      </label>
                      <label class="radio">
                        <input type="radio" name="identity" id="optionsRadios2" value="admin" data-toggle="radio">
                        管理员
                      </label>
                </div>
                <div class="form-group validateInput">
                    <input type="text" class="form-control login-field" value="" placeholder="请输入学号" id="login-no" name="no" data-required data-pattern="^[0-9]+$"/>
                    <label class="login-field-icon fui-user" for="login-no"></label>
                </div>

                <div class="form-group validateInput">
                    <input type="password" class="form-control login-field" value="" placeholder="请输入密码(6~16位)" id="login-pass" name="password" data-pattern="[a-zA-Z0-9]{6,16}" data-required/>
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>

                <div class="form-group validateInput">
                    <input type="password" class="form-control login-field" value="" placeholder="请确认输入密码" id="login-pass" name="password-repeat" data-pattern="[a-zA-Z0-9]{6,16}" data-required/>
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>
                
                <% if(error) { %>
                    <div class="form-error">
                        <span class="alert-ico"></span><span class="alert-text"><%= error %></span>
                    </div>
                <% } %>

                <input type="submit" class="btn btn-primary btn-lg btn-block" href="#" value="注册">

                <a class="login-link" href="/login">已经有账号了 ?</a>
            </form>
        </div>
        
    </div>
<%- include foot %> 